.gallery{
    background-color: rgb(57, 249, 185);
    padding: 70px;
}
img{
    max-width: 100%;
}
/* .gallery img{
    background-color: rgb(249, 168, 47);
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} */